
@font-face {
    font-family: 'Nitti Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Nitti Normal'), url('~assets/fonts/Nitti-Normal.woff') format('woff');
}   
@font-face {
    font-family: 'Nitti Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nitti Bold'), url('~assets/fonts/Nitti-Bold.woff') format('woff');
}
@font-face {
    font-family: 'NittiTypewriter';
    font-style: normal;
    font-weight: normal;
    src: local('NittiTypewriter'), url('~assets/fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf') format('otf');
}   
@font-face {
    font-family: 'BeauLuloClean OneBold';
    font-style: normal;
    font-weight: normal;
    src: local('BeauLuloClean OneBold'), url('~assets/fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf') format('otf');
}
body{
    color: #5a6268;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: 'Nitti Normal';
    .text-primary{
        color: #3c5e2c !important;
    }
    .card-header{
        background-color: transparent;
        border: none;
        ul{
            padding: 0 10px;
            li{
                a{
                    font-size: 25px;
                    font-weight: 600;
                    &.active{
                        background-color: transparent !important;
                        border-bottom: 4px solid #3c5e2c;
                        border-radius: 0;
                        color: #3c5e2c !important;
                    }
                }
            }
        }
    }
    .container-comment{
        .item-comment{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            .col-image{
                max-width: 100px;
            }
            .col-content{
                max-width: 100%;
                flex: 1;
                .item-comment{
                    margin-bottom: 0;
                }
                .row-comment{
                    display: flex;
                    justify-content: space-between;
                    h4{
                        font-weight: 600;
                        color: #3c5e2c;
                    }
                    .dropdown-toggle{
                        line-height: 0;
                        color: #3c5e2c;
                        border: none;
                        background-color: #fff;
                        font-size: 25px;
                        border-radius: 0;
                        box-shadow: none;
                    }
                    .dropdown-menu{
                        min-width: auto;
                        border-radius: 0;
                        border-color: #3c5e2c;
                    }
                }
                .content-comment{
                    white-space: pre-wrap;
                }
                a{
                    color: #3c5e2c;
                    font-weight: 600;
                    font-size: 16px;
                    background-color: #fff !important;
                }
            }
        }
    }
    h1{
        font-weight: 600;
    }
    span.tags{
        &:after{
            content: ", ";
        }
        &:last-child{
            &:after{
                content: "";
            }
        }
    }
    .btn-checkbox label{
        &.btn-secondary{
            border-radius: 0;
            margin: 0 10px;
            background-color: #fff;
            color: #3c5e2c;
            border-color: #3c5e2c;
            box-shadow: none;
            outline: none;
            &:not(:disabled):not(.disabled).active{
                background-color: #3c5e2c;
                border-color: #3c5e2c;
                box-shadow: none;
                outline: none;
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            &:focus{
                border: 1px solid #3c5e2c;
                background-color: #3c5e2c;
                box-shadow: none;
                outline: none;
            }
            &:hover{
                color: #3c5e2c;
                background-color: transparent;
            }
        }
    }
    option:not(:checked) {
        background-color: #3c5e2c;
        color: #fff;
    }
    .ql-toolbar.ql-snow{
        border: 1px solid #3c5e2c;
    }
    .ql-container{
        letter-spacing: -1px;
        font-family: 'Nitti Normal';
        &.ql-snow{
            border: 1px solid #3c5e2c;
        }
    }
    .line-through{
        text-decoration: line-through;
    }
    .header{
        
        .logo{
            max-width: 85px;
            width: 100%;
            object-fit: cover;
        }
    }
    .container{
        max-width: 1000px;
    }
    .custom-select{
        border-color: #3c5e2c;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        &:focus{
            border-color: #3c5e2c;
            box-shadow: none;
            outline: none;
        }
    }
    .form-control{
        border-color: #3c5e2c;
        border-radius: 0;
        box-shadow: none;
        &:focus{
            border-color: #3c5e2c;
        }
        &.is-valid {
            &:focus{
                border-color: #3c5e2c;
            }
            border-color: #3c5e2c;
            background-image: none;
        }
        &.is-invalid{
            background-image: none;
        }
    }
    
}
.alert-primary{
    border-radius: 0;
    color: #ffffff;
    background-color: #3c5e2c;
    border-color: #3c5e2c;
}
.alert-danger{
    border-radius: 0;
    color: #ffffff;
    background-color: #d3b161;
    border-color: #d3b161;
}

.quantity{
    input[type=number]{
        background-color: #fff;
        max-width: 50px;
        width: 100%;
        height: 30px;
        text-align: center;
        border-right: none;
        border-left: none;
    }
    .btn-primary{
        height: 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        padding-left: 15px;
        width: 40px;
        padding-right: 15px;

    }
}
.btn.disabled, .btn:disabled{
    opacity: 1;
    cursor: default;
}

input:focus{
    outline: none;
    box-shadow: none !important;
}

input:focus,
select:focus{
    box-shadow: none;
    border-color: #3c5e2c;
    outline: none;
}
select{
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-search-cancel-button { 
    -webkit-appearance: none; 
}

::-webkit-search-results-button {
     -webkit-appearance: none; 
}

input[type=search] { 
    -webkit-appearance: none; 
}

.fade-enter-active,
.fade-leave-active{
    transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-active{
    opacity: 1;
}
a{
    text-decoration: none !important;
    color: #5a6268;
}
a:hover{
    color: #3c5e2c;
}


html {
    font-family:
        'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: 16px;
    color: #5a6268;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.form-control{
    font-size: 14px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #3c5e2c;
    border-color: #3c5e2c;
    opacity: 0.7;
}

::-webkit-scrollbar-track {
    background: #fff; 
}

::-webkit-scrollbar-thumb {
    background: #3c5e2c ; 
}

::-webkit-scrollbar-thumb:hover {
    background: #3c5e2c; 
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.btn{
    box-shadow: none;
}
.btn-primary{
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    background-color: #3c5e2c;
    border-color: #3c5e2c;
}
.btn-primary:focus{
    background-color: #3c5e2c;
    border-color: #3c5e2c;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    box-shadow: none;
}
.btn-primary:hover{
    background-color: #3c5e2c;
    border-color: #3c5e2c;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.btn-remove{
    color: #fff;
    background-color: #d3b161;
    border-color: #d3b161;
    border-radius: 0;
}
.btn-remove:hover{
    background-color: #d3b161;
    border-color: #d3b161;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.btn-remove:focus{
    background-color: #d3b161;
    border-color: #d3b161;
    box-shadow: none;
}
img{
    max-width: 100%;
}
.text-overflow{
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}

.button--green:hover {
    color: #fff;
    background-color: #3b8070;
}

.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e;
}